/*--- Start Header ---*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 50px 100px;
}

.nav {
  background-color: #1b3864;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  gap: 30px;
}

.logo-prnt {
  margin-top: -10px;
}

.logo-prnt h1 span {
  color: #fff;
}

.icons-nav i {
  margin-left: 7px;
  color: #fff;
}

.nav-right {
  display: flex;
  gap: 30px;
}

.nav-right ul {
  display: flex;
  gap: 20px;
}

.nav-right ul li {
  text-decoration: none;
  list-style: none;
}

.nav-right ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

.cart-btn i {
  color: #fff;
  margin-right: 20px;
}

/* .cart-btn .btn-order {
  border: none;
  outline: none;
} */

/*--- End Header ---*/

/*--- Start Main ---*/

.h-head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #1b3864;
  gap: 30px;
}

.head-left {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}

.head-left h6 {
  color: #fff;
}

.head-left h1 {
  color: #fff;
  font-size: 50px;
}

.head-left p {
  color: #fff;
  width: 75%;
}

.btn-head {
  display: flex;
  text-align: center;
  gap: 30px;
}

.btn-order2 {
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: #feb343;
}
.btn-head .btn-read {
  margin-top: 10px;
  color: #fff;
}

.summary-head {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
}

.summary-head i {
  color: #feb343;
  padding: 0 5px;
}
.summary-head span:nth-child(2) {
  color: #fff;
}

.summary-head span:nth-child(4) {
  margin-left: 17px;
}

.img-right {
  width: 100%;
  height: 90%;
}

.img-right img {
  width: 100%;
  height: 100%;
}

/*--- End Main ---*/